@keyframes moveLeft1 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: -100px;
        top: 0px;
    }
}

@keyframes moveLeft2 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: -200px;
        top: 0px;
    }
}

@keyframes moveLeft3 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: -300px;
        top: 0px;
    }
}

@keyframes moveLeft4 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: -400px;
        top: 0px;
    }
}

@keyframes moveRight1 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 100px;
        top: 0px;
    }
}

@keyframes moveRight2 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 200px;
        top: 0px;
    }
}

@keyframes moveRight3 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 300px;
        top: 0px;
    }
}

@keyframes moveRight4 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 400px;
        top: 0px;
    }
}

@keyframes moveDown1 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: 100px;
    }
}

@keyframes moveDown2 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: 200px;
    }
}

@keyframes moveDown3 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: 300px;
    }
}

@keyframes moveDown4 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: 400px;
    }
}

@keyframes moveUp1 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: -100px;
    }
}

@keyframes moveUp2 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: -200px;
    }
}

@keyframes moveUp2 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: -200px;
    }
}

@keyframes moveUp3 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: -300px;
    }
}

@keyframes moveUp4 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 0px;
        top: -400px;
    }
}



.moveLeft1 {
    position: relative;
    animation: moveLeft1 0.5s;
}

.moveLeft2 {
    position: relative;
    animation: moveLeft2 0.5s;
}

.moveLeft3 {
    position: relative;
    animation: moveLeft3 0.5s;
}

.moveLeft4 {
    position: relative;
    animation: moveLeft4 0.5s;
}

.moveRight1 {
    position: relative;
    animation: moveRight1 0.5s;
}

.moveRight2 {
    position: relative;
    animation: moveRight2 0.5s;
}

.moveRight3 {
    position: relative;
    animation: moveRight3 0.5s;
}

.moveRight4 {
    position: relative;
    animation: moveRight4 0.5s;
}

.moveUp1 {
    position: relative;
    animation: moveUp1 0.5s;
}

.moveUp2 {
    position: relative;
    animation: moveUp2 0.5s;
}

.moveUp3 {
    position: relative;
    animation: moveUp3 0.5s;
}

.moveUp4 {
    position: relative;
    animation: moveUp4 0.5s;
}

.moveDown1 {
    position: relative;
    animation: moveDown1 0.5s;
}

.moveDown2 {
    position: relative;
    animation: moveDown2 0.5s;
}

.moveDown3 {
    position: relative;
    animation: moveDown3 0.5s;
}

.moveDown4 {
    position: relative;
    animation: moveDown4 0.5s;
}

.static {
    background-color: black;
}

.marquee{
    display:block;
    position:relative;
    animation:scroll 8s;
    padding:3px;
}

/* Make it move */
@keyframes scroll{
    0% {top: 0;}
    10% {top: 350px;}
    20% {top: -350px;}
    30% {top: 250px;}
    40% {top: -250px;}
    50% {top: 150px;}
    60% {top: -150px;}
    70% {top: 100px;}
    80% {top: -100px;}
    90% {top: 50px;}
    100% {top: 0;}
}






