.control-buttons {
  width: 50vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
}
.info-button {
  width: 20%;
  height: 100%;
  justify-content: center;
  border: 1vw solid black;
  border-radius: 50%;
  background: mediumseagreen;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.restart-button {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  border: 1vw solid black;
  background: mediumseagreen;
  background-image: url("../assets/restart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.back-button {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  border: 1vw solid black;
  background: mediumseagreen;
  background-image: url("../assets/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.back-span {
  font-size: 2vw;
  font-weight: bold;
  position: relative;
  top: 15%;
  left: 20%;
}
.magic-wand-button {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  border: 1vw solid black;
  background: mediumseagreen;
  background-image: url("../assets/wand.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.wand-span {
  font-size: 2vw;
  font-weight: bold;
  position: relative;
  top: 15%;
  left: 20%;
}
.best-button {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  border: 1vw solid black;
  background: mediumseagreen;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (min-width: 1000px) {
  .control-buttons {
    width: 40vw;
    height: 8vw;
  }
  .info-button {
    border: 0.5vw solid black;
  }
  .restart-button {
    border: 0.5vw solid black;
  }
  .back-button {
    border: 0.5vw solid black;
  }
  .magic-wand-button {
    border: 0.5vw solid black;
  }
  .best-button {
    border: 0.5vw solid black;
  }
}
@media (min-width: 1250px) {
  .control-buttons {
    width: 30vw;
    height: 6vw;
  }
  .best-button {
    font-size: 1.3vw;
  }
  .back-span {
    font-size: 1.5vw;
  }
  .wand-span {
    font-size: 1.5vw;
  }
}
@media (min-width: 1800px) {
  .back-span {
    font-size: 1vw;
  }
  .wand-span {
    font-size: 1vw;
  }
}
