.control-buttons {
  width: 50vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1em;
}
.button {
  width: 20%;
  height: 100%;
  justify-content: center;
  border: 0.5vw solid black;
  border-radius: 50%;
  background: mediumseagreen;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-size: 2vw;
}
.restart {
  background-image: url('../assets/restart.png');
}
.back {
  background-image: url('../assets/back.png');
}
.magic-wand {
  background-image: url('../assets/wand.png');
}
span {
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  top: -20%;
  left: -25%;
}
@media (min-width: 1000px) {
  .control-buttons {
    width: 40vw;
    height: 8vw;
  }
  .button {
    border: 0.5vw solid black;
  }
}
@media (min-width: 1250px) {
  .control-buttons {
    width: 30vw;
    height: 6vw;
  }
  .button {
    font-size: 1.3vw;
  }
}
