body {
  background-image: url('../assets/money.png');
  background-size: cover;
  
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 5vw;
  background-color: lightgrey;
  opacity: 0.8;
  margin: 3vh;
}
.board {
  width: 55vh;
  height: 55vh;
  max-width: 95vw;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.cell {
  width: 20%;
  height: width;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
img {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.empty {
  z-index: 0;
}
.money-counter {
  text-align: center;
  font-size: 4vw;
  background: lightgrey;
  opacity: 0.8;
  margin: 2vh;
}

