#root {
  /* background-image: url("../assets/money.png");
   */
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 4vw;
  background-color: lightgrey;
  opacity: 0.8;
  margin: 5%;
}
.board {
  width: 55vh;
  height: 55vh;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.cell {
  width: 20%;
  height: width;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
img {
  height: 100%;
  width: 100%;
  z-index: 1;
}
body {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.money-counter {
  text-align: center;
  font-size: 3vw;
  background: lightgrey;
  opacity: 0.8;
}
.empty {
  z-index: 0;
}
